.container {
  width: 640px;
  box-sizing: border-box;
}

.number {
  text-align: center;
}

.statusDone {
  color: #00cccc;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.ingredientList {
  composes: customScrollbar from "../app/app.module.css";
  max-height: 312px;
}

.ingredient {
  display: flex;
  align-items: center;
}

.ingredient:last-child {
  margin-bottom: 0;
}

.ingredientName {
  flex-grow: 1;
}

.price {
  display: flex;
}

.price svg {
  width: 22px;
  height: 22px;
}
