.container {
  min-width: 200px;
  box-sizing: border-box;
  border-radius: 40px;
  background-color: var(--background);
  display: block;
  color: var(--text-primary-color);
}

.header {
  display: flex;
  justify-content: space-between;
}

.statusDone {
  color: #00cccc;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.ingredientList {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.ingredient {
  margin-right: -16px;
}

.price {
  display: flex;
}

.price svg {
  width: 22px;
  height: 22px;
}
