.container {
  border: 1px solid red;
  width: 600px;
}

.elements {
  display: flex;
  flex-direction: column;
  gap: calc(4 * var(--offset-base-size));
}

.footer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.footer svg {
  width: 33px;
  height: 33px;
}
