.container {
  flex: 1 1 100%;
  padding-top: calc(var(--offset-base-size) * 25);
  padding-left: calc(var(--offset-base-size) * 4);
}

.elements {
  display: flex;
  flex-direction: column;
  /* gap: calc(4 * var(--offset-base-size)); */
}

.bunElementTop {
  margin-left: calc(var(--offset-base-size) * 8);
  margin-right: calc(var(--offset-base-size) * 4);
  margin-bottom: calc(var(--offset-base-size) * 4);
}

.bunElementBottom {
  margin-left: calc(var(--offset-base-size) * 8);
  margin-right: calc(var(--offset-base-size) * 4);
}

.dragMessage {
  border: 2px dashed;
  border-color: #2f2f37;
  border-radius: 4px;
  transition: border-color ease 0.3s, color ease 0.3s;
  text-align: center;
}

.dragMessageOver {
  border-color: #4c4cff;
}

.elementsScroll {
  composes: elements;
  padding-right: calc(var(--offset-base-size) * 2);
}

:global(.constructor-element) {
  display: block;
  max-width: 600px;
  flex-grow: 1;
}

:global(.constructor-element__text) {
  flex-grow: 1;
}

.footer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: calc(var(--offset-base-size) * 10);
  margin-bottom: calc(var(--offset-base-size) * 2);
}

.footerCurrency {
  margin-right: calc(var(--offset-base-size) * 10);
}

.footer svg {
  width: 33px;
  height: 33px;
}

.error {
  color: red;
}

.center {
  text-align: center;
}

@media only screen and (max-width: 1023px) {
  .container {
    padding-top: calc(var(--offset-base-size) * 14);
    padding-left: 0;
  }

  .bunElementTop {
    margin-left: calc(var(--offset-base-size) * 4);
    margin-right: 0;
    margin-bottom: 0;
  }

  .bunElementBottom {
    margin-left: calc(var(--offset-base-size) * 4);
    margin-right: 0;
  }

  .elementsScroll {
    padding-right: 0;
  }

  .footer {
    margin-top: calc(var(--offset-base-size) * 4);
  }

  .footerCurrency {
    margin-right: calc(var(--offset-base-size) * 4);
  }

  .footer svg {
    width: 22px;
    height: 22px;
  }
}
