.container {
  width: 600px;
}

.elements {
  display: flex;
  flex-direction: column;
  /* gap: calc(4 * var(--offset-base-size)); */
}

.dragMessage {
  border: 2px dashed;
  border-color: #2f2f37;
  border-radius: 4px;
  transition: border-color ease 0.3s, color ease 0.3s;
  text-align: center;
}

.dragMessageOver {
  border-color: #4c4cff;
}

.elementsScroll {
  composes: elements;
}

:global(.constructor-element) {
  display: block;
  max-width: 600px;
  flex-grow: 1;
}

:global(.constructor-element__text) {
  flex-grow: 1;
}

.footer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.footer svg {
  width: 33px;
  height: 33px;
}

.error {
  color: red;
}

.center {
  text-align: center;
}
