.ingredient {
  width: 64px;
  height: 64px;
  border-radius: 50%;
  background-color: #131316;
  overflow: hidden;
  position: relative;
  box-sizing: border-box;
  background: linear-gradient(to right, #801ab2, #4c4cff);
}

.ingredient:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: 2px;
  border-radius: 50%;
  background-color: #131316;
}

.ingredientImage {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
}

.ingredientFg {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 2px;
  border-radius: 50%;
  background: rgb(28 28 33 / 60%);
  text-align: center;
  line-height: 60px;
  font-style: normal;
}

@media only screen and (max-width: 1023px) {
  .ingredient {
    width: 32px;
    height: 32px;
  }

  .ingredientFg {
    line-height: 28px;
  }
}
