.container {
  align-self: center;
}

.number {
  text-align: center;
}

.error {
  color: red;
}

.skeleton {
  display: inline-block;
  line-height: 1;
  background: var(--background);
  width: 100%;
}
