.container {
  width: 100%;
}

.content {
  display: flex;
}

.orderList {
  flex-grow: 1;
}

.statistic {
  flex: 0 0 580px;
}

.statisticGrid {
  display: flex;
}

.statisticGridItem {
  flex: 1 1 20%;
}

.success {
  color: var(--colors-interface-success);
}

.error {
  color: red;
}
