.container {
  width: 100%;
  margin-top: calc(var(--offset-base-size) * 10);
}

.content {
  display: flex;
}

.orderList {
  flex-grow: 1;
  margin-right: calc(var(--offset-base-size) * 15);
}

.statistic {
  flex: 0 0 calc(50% - 30px);
}

.statisticGrid {
  display: flex;
}

.statisticGridItem {
  flex: 1 1 20%;
}

.statisticGridItemTitle {
  margin-bottom: calc(var(--offset-base-size) * 6);
}

.statisticGridItemList {
  max-height: 320px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.statisticGridItemText {
  margin-bottom: calc(var(--offset-base-size) * 2);
}

.success {
  color: var(--colors-interface-success);
}

.error {
  color: red;
}

.skeletonOrder {
  display: block;
  width: auto;
  border-radius: 40px;
  height: 245px;
}

.statisticTotalTitle {
  margin-top: calc(var(--offset-base-size) * 15);
}

@media only screen and (max-width: 1023px) {
  .container {
    margin-top: calc(var(--offset-base-size) * 4);
  }

  .orderList {
    margin-right: calc(var(--offset-base-size) * 4);
  }

  .statisticGridItemTitle {
    margin-bottom: calc(var(--offset-base-size) * 4);
  }

  .statisticGridItemList {
    max-height: 280px;
  }

  .statisticGridItemText {
    margin-bottom: calc(var(--offset-base-size) * 1);
  }

  .statisticTotalTitle {
    margin-top: calc(var(--offset-base-size) * 6);
  }
}
