.container {
  display: flex;
  width: 100%;
}

.menu {
  flex: 0 1 320px;
}

.menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.menuItem {
  height: 60px;
  line-height: 60px;
  --colors-interface-accent: var(--text-inactive-color);
}

.menuItemActive {
  color: var(--text-primary-color);
}

.menuFooter {
  opacity: 0.4;
}

.orderList {
  list-style: none;
  margin: 0;
  padding: 0;
  flex-grow: 1;
  max-height: calc(100vh - var(--offset-base-size) * 10 - 88px);
  overflow-y: auto;
}

@-moz-document url-prefix() {
  .orderList {
    scrollbar-color: #8585ad #2f2f37;
  }
}

.orderList::-webkit-scrollbar {
  width: 8px;
}

.orderList::-webkit-scrollbar-track {
  background: #2f2f37;
}

.orderList::-webkit-scrollbar-thumb {
  background: #8585ad;
}

.error {
  color: red;
}

:global(.input_size_default) {
  width: 480px;
}
