.container {
  display: flex;
  width: 100%;
}

.menu {
  flex: 0 0 320px;
  margin-top: calc(var(--offset-base-size) * 20);
  margin-right: calc(var(--offset-base-size) * 15);
}

.menuItem {
  height: 60px;
  line-height: 60px;
  --colors-interface-accent: var(--text-inactive-color);
  white-space: nowrap;
}

.menuItemActive {
  color: var(--text-primary-color);
}

.menuFooter {
  opacity: 0.4;
  margin-top: calc(var(--offset-base-size) * 20);
}

.orderList {
  flex-grow: 1;
}

.error {
  color: red;
}

:global(.input_size_default) {
  width: 480px;
}

.skeletonOrder {
  display: block;
  width: auto;
  border-radius: 40px;
  height: 245px;
}

@media only screen and (max-width: 1023px) {
  .menu {
    flex-basis: 220px;
    margin-top: calc(var(--offset-base-size) * 10);
    margin-right: calc(var(--offset-base-size) * 4);
  }

  .menuFooter {
    margin-top: calc(var(--offset-base-size) * 10);
  }
}
