.container {
  display: flex;
  flex-direction: column;
  align-items: center;

  position: relative;
  box-sizing: border-box;
  cursor: move;
  color: var(--text-primary-color);
}

.img {
  max-width: 100%;
}

.price {
  display: flex;
}

.title {
  height: 48px;
  text-align: center;
}
