.container {
  min-width: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;

  position: relative;
  box-sizing: border-box;
}

.price {
  display: flex;
}

.title {
  height: 48px;
  text-align: center;
}
