.container {
  display: flex;
  flex-direction: column;
  align-items: center;

  position: relative;
  box-sizing: border-box;
  cursor: move;
  color: var(--text-primary-color);
}

.price {
  display: flex;
}

.title {
  height: 48px;
  text-align: center;
}

@media only screen and (max-width: 1023px) {
  .price > svg {
    width: 22px;
    height: 22px;
  }

  .title {
    height: 60px;
  }
}
