.container {
  width: 600px;
}

.tabs {
  display: flex;
}

.ingredientList {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.ingredients {
  composes: customScrollbar from "../app/app.module.css";
  position: relative;
  max-height: calc(100vh - 284px);
}

.ingredient {
  flex: 0 1 calc(50% - 3 * var(--offset-base-size));
  cursor: pointer;
}

.enter {
}
.enterActive {
}
.exit {
  opacity: 1;
}
.exitActive {
  opacity: 0;
  transition: opacity 0.3s ease;
}

.hidden {
  display: none;
}

.error {
  color: red;
}

.skeleton {
  display: inline-block;
  line-height: 1;
  background: var(--background);
  width: 100%;
}
