.header {
  display: flex;
  justify-content: center;
  background-color: var(--background);
}

.content {
  width: 100%;
  max-width: 1280px;

  display: flex;
  align-items: center;
  align-content: space-between;
}

.contentItem {
  flex: 0 1 33.33%;
}

.contentItemCenter {
  composes: contentItem;
  text-align: center;
}

.contentItemRight {
  composes: contentItem;
  text-align: right;
}

.navigation ul {
  display: flex;
}
