.header {
  display: flex;
  justify-content: center;
  background-color: var(--background);
}

.content {
  width: 100%;
  max-width: 1280px;

  display: flex;
  align-items: center;
  align-content: space-between;
}

.contentItem {
  flex: 0 1 33.33%;
}

.contentItemCenter {
  composes: contentItem;
  text-align: center;
}

.contentItemRight {
  composes: contentItem;
  text-align: right;
}

.navigation {
  margin-top: calc(var(--offset-base-size) * 4);
  margin-bottom: calc(var(--offset-base-size) * 4);
}

.navigation ul {
  display: flex;
}

@media only screen and (max-width: 1023px) {
  .navigation {
    margin-top: calc(var(--offset-base-size) * 1);
    margin-bottom: calc(var(--offset-base-size) * 1);
  }
}
